body {
    text-align: center;
    background: #9e9e9e url(../images/fons.webp);
    color: #4A4A4A;
}

#tauler {
    border-radius: 10px;
    border: 1px solid #666;
    position: relative;
    background: #232 url(../images/table.jpg);
    margin: 0 auto;
    box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0;
}

.carta {
 
    width: 79px;	height: 123px;   /* poker1 */
    
    position: absolute;
    -webkit-perspective: 300px; /* Chrome, Safari, Opera  */
    perspective: 300px;/*transition: all .3s; */
}

.carta:hover .cara{
    box-shadow: 0 0 10px #aaa;
}

.cara {
    border-radius: 10px;
    width: 100%;	height: 100%;
    position: absolute;  /* per poder moure la carta */

    transition-property: transform, shadow;
    transition-duration: .5s;

    backface-visibility: hidden;
}

.darrera {
    background: #999 url(../images/poker1.png) 0px -496px; /*cartes POKER1*/
}

.davant {
    background: #999 url(../images/poker1.png); /*cartes POKER1*/
    transform: rotate3d(0,1,0,-180deg);
}


.carta-girada .darrera {
    transform: rotate3d(0,1,0,180deg);
}

.carta-girada .davant {
    transform: rotate3d(0,1,0,0deg);
}

/* poker1
/* fila 123 - columna 79 */

/* Fila 1 (Piques) */
.carta1  { background-position:    0px     0px; }
.carta2  { background-position:  -79px     0px; }
.carta3  { background-position: -158px     0px; }
.carta4  { background-position: -237px     0px; }
.carta5  { background-position: -316px     0px; }
.carta6  { background-position: -395px     0px; }
.carta7  { background-position: -474px     0px; }
.carta8  { background-position: -553px     0px; }
.carta9  { background-position: -632px     0px; }
.carta10 { background-position: -711px     0px; }
.carta11 { background-position: -790px     0px; }
.carta12 { background-position: -869px     0px; }
.carta13 { background-position: -948px     0px; }

/* Fila 2 (Diamants) */
.carta14 { background-position:    0px  -123px; }
.carta15 { background-position:  -79px  -123px; }
.carta16 { background-position: -158px  -123px; }
.carta17 { background-position: -237px  -123px; }
.carta18 { background-position: -316px  -123px; }
.carta19 { background-position: -395px  -123px; }
.carta20 { background-position: -474px  -123px; }
.carta21 { background-position: -553px  -123px; }
.carta22 { background-position: -632px  -123px; }
.carta23 { background-position: -711px  -123px; }
.carta24 { background-position: -790px  -123px; }
.carta25 { background-position: -869px  -123px; }
.carta26 { background-position: -948px  -123px; }

/* Fila 3 (Trèvols) */
.carta27 { background-position:    0px  -246px; }
.carta28 { background-position:  -79px  -246px; }
.carta29 { background-position: -158px  -246px; }
.carta30 { background-position: -237px  -246px; }
.carta31 { background-position: -316px  -246px; }
.carta32 { background-position: -395px  -246px; }
.carta33 { background-position: -474px  -246px; }
.carta34 { background-position: -553px  -246px; }
.carta35 { background-position: -632px  -246px; }
.carta36 { background-position: -711px  -246px; }
.carta37 { background-position: -790px  -246px; }
.carta38 { background-position: -869px  -246px; }
.carta39 { background-position: -948px  -246px; }

/* Fila 4 (Cors) */
.carta40 { background-position:    0px  -369px; }
.carta41 { background-position:  -79px  -369px; }
.carta42 { background-position: -158px  -369px; }
.carta43 { background-position: -237px  -369px; }
.carta44 { background-position: -316px  -369px; }
.carta45 { background-position: -395px  -369px; }
.carta46 { background-position: -474px  -369px; }
.carta47 { background-position: -553px  -369px; }
.carta48 { background-position: -632px  -369px; }
.carta49 { background-position: -711px  -369px; }
.carta50 { background-position: -790px  -369px; }
.carta51 { background-position: -869px  -369px; }
.carta52 { background-position: -948px  -369px; }

/* Revers de la carta */
.revers  { background-position:    0px  -492px; }
